a {
    text-decoration: none;
}

button {
    border: none;
}

.container {
    margin: 0 auto;
    max-width: 1562px;
    padding: 0 15px;
}

.no-scroll {
    overflow: hidden;
}

img {
    object-fit: cover;
}